# Python
__pycache__
.pyc
.pyo
.pyd
.Python

# Virtuální prostředí
.venv
venv
env

# Anime model — lokální data
cache
output
output_backup
animelist.xml

# IDE
.vscodesettings.json
.idea

# OS
.DS_Store
Thumbs.db